
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body { 
	font-size: 17px;
	color: rgb(243, 41, 176);
	width: 200%;
  max-width: 1100px;
  margin: 12em;
  line-height: 150%;
 
  background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
  background-size:200% 200%; 
  animation: gradient-anim 3s ease-in-out infinite;
  height: 100%;
}

@keyframes gradient-anim {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


/* body > header,
footer {
	
	padding: 3em;
	margin: 12px;

	
} */


h1{
	font-size: 13em;
	font-family: .libre-baskerville-bold 
		font-family: "Libre Baskerville", serif;
		font-weight: 700;
		font-style: normal;
	
	  
	line-height: 100%;
	
		color: rgb(233, 21, 152);
		/* background-color: black; */
		padding: 20px;
		margin: 20px;
		max-width: 800px;
		
	}

	h2{	
		font-size: 2em;
		font-family: Helvetica, sans-serif;
		text-decoration:underline;
		
		
		  }
		  
		  article {
			color: peru;
			
				border: 1px dotted peru;
				padding: 10px;
				line-height: 28px;
				kerning:50px;
			}
		
			pre{
				text-decoration-line:underline;

				;
			}

			a{
				color:yellow;
				font-size: 15px;
			}
	
		

section{color:rgb(244, 240, 240);
	opacity: 80%;
}

span{
	font-size:12px;
	letter-spacing: 1em;
	writing-mode: vertical-rl;
}

/* body > header,
footer {
	background-color: #050404;
	background-size: 300%; */
	

.black{
	background-color: black;
	padding: 100px;
	padding-top: 10px;
	}

	.container{
		column-count: 2;
		column-gap: 70px;
		margin-top: 40px;
	}

	.box{
		color:yellowgreen;
	}

	.big{
		color:aquamarine;
		font-family:Arial, Helvetica, sans-serif;
		font-weight:bold;
		line-height:1.8cap;
		font-size: 1.5em;
	}
	.hello{
		font-family: 'Courier New', Courier, monospace;
		color:peru;
		font-size: 20px;
		border:2px solid;
		padding: 10px;
	}

	.bye{
		color:rgb(226, 43, 98);
		font-family:Verdana, Geneva, Tahoma, sans-serif;
		font-size: 15px;
	}

	.paul{
		color:rgb(185, 183, 182);
		font-size: 16px;
		font-family:'Times New Roman', Times, serif;
		font-style: italic;
		
	
	}

		

