
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Playfair+Display:ital@0;1&display=swap');

body {
	font-family:"Playfair Display";
	font-weight: 400;
	font-size: 1.2em;
	color: black;
	/* width: 100%; */
  max-width: 80vw;
  /* margin: 10em; */
  line-height: 1.7em;
  /* margin-left:13em; */
  
  


  /* background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
  background-size:200% 200%;
  animation: gradient-anim 3s ease-in-out infinite; */
  /* height: 100%; */

}

@keyframes gradient-anim {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



h1{
	font-size:11rem;
		font-family: "Playfair Display", serif;
		font-weight: 900;
		font-style: normal;
		line-height: 100%;
		/* background-color: black; */
		color:white;
		
	/* background: -webkit-linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
	  -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; */

		background-color: rgb(62, 62, 248);
		padding-left: 4rem;
		margin-right:-40rem;
		margin-top:-6rem;
		padding-top:5rem;
		padding-bottom:4rem;
		


	}
	.h1contain{
		position: relative;
		overflow:hidden;
		width:100vw;
		background-color:rgb(62, 62, 248);
		padding-top:5rem;
		padding-bottom:5rem;
		
		transform:rotate(-4deg);
		filter:drop-shadow(7px 7px 7px rgba(3, 2, 2, 0.25));
	}
.h1moving{
	font-size:14rem;
	font-family: "Playfair Display", serif;
	font-weight:900;
	line-height: 100%;
	white-space: nowrap;
	color:white;
	animation: movetext 10s linear infinite;
}


	
	@keyframes movetext{
		0% {transform: translateX(0);
	}
		100% {transform: translateX(-100%);
	}	
	}

	h2{
		font-size: 2em;
		/* font-weight: bold; */
		font-family: "Bowlby One", sans-serif;
		text-decoration:underline;
		/* margin-bottom: 15px; */
		/* margin-top:7rem; */


		  }
		  h3{
			font-family:verdana;
			color:rgb(234, 209, 209);
			font-size:20px;
			/* margin-left:-15em; */
			
			
		  }

		  article {
			color: black;
			margin-top:3em;

			}

			pre{
				text-decoration-line:underline;

				;
			}

			


section{color:black;
	/* opacity: 80%; */
font-family:Verdana, Geneva, Tahoma, sans-serif;
margin-top:1rem;
/* margin-left:1em; */
display:grid;
grid-template-columns: repeat(1,2fr);
/* border-top:1px solid; */


}

.davis :hover{
	color: tomato;
	text-decoration: underline;

}

 span{
	font-size:14px;
	font-family:verdana;
	letter-spacing: 1em;
	color:black;
	/* writing-mode: vertical-rl; */
} 
/* .d{font-weight:bold;}
.y{margin-left:25px;
letter-spacing: 80px;}
.n{margin-left:50px;
letter-spacing:40px;}
.a{margin-left:80px;
letter-spacing: 110px;}
.m{margin-left:140px;}
.i{margin-left:180px;
letter-spacing: 250px;}
.c{margin-left:220px;} */


	.bq{
		margin-left:30rem;
		font-style:italic;
		color:white;
		background-color: rgb(62, 62, 248);
		padding:2rem;
		filter:drop-shadow(7px 7px 7px rgba(3, 2, 2, 0.25));
		font-family:'Times New Roman', Times, serif;
		/* transform: rotate(3deg); */
		margin-left:50rem;
		

	}


/* .black{
	background-color: black;;
	padding: 80px;
	padding-top: 12px;
	margin-right:-13em;  
max-width:100ch;

	} */

	.stickytitle{
	display: flex;
	background-color: rgb(62, 62, 248);
	color:white;
	width: 20vw;
	text-align: center;
	align-items: center;
	margin-left: 5rem;
	position: sticky;
	top:0;
	z-index: -1;
	border-radius: 5rem;
	margin-bottom:-3rem;
	margin-top:2rem;
	justify-content: center;
	padding:1rem;
	
	}

	.stickytitle2{
		margin-left:10rem;
		border-radius: 50%;
		border:solid 3px white;
		width:20vw;
		line-height: 3rem;
		text-align: center;
		text-decoration: none;
		position:sticky;
		top:0;
		
		
		
	}

	.subp{
		color: rgb(62, 62, 248);
		font-style: italic;
	}

	article{
		padding-top:4rem;
		background-color: rgb(62, 62, 248);
		color:white;
		padding-right:10rem;
		padding-bottom:4rem;
		line-height: 2.2rem;
		text-wrap: balance;
	}

	section h2{
		margin-left:1rem;
		padding:1rem;
		margin-top:1rem;
	
		
		
		
	}
	
	section p{
		width:50vw;
		margin-left:50rem;
		padding-top:1rem;
		border-left: 1px solid;
		padding-left:3rem;
		
		
		/* display: grid;
		grid-template-columns: repeat(2,1fr); */
	}

	

	.big{
		color:black;
		font-family: verdana;
		background-color: white;
		filter:drop-shadow(7px 7px 7px rgba(3, 2, 2, 0.25));
		line-height:2.5rem;
		font-size: 1.4rem;
		padding:3rem; 
		margin:3rem;
		width:70vw;
		/* transform:rotate(3deg); */
		margin-right:10rem;
		margin-top:7rem;
	}
	.hello{
		font-family: Verdana;
		color:black;
		font-size: 20px;
		border:2px solid;
		padding: 10px;
		font-weight:bold;
	}

	.bye{
		color:rgb(226, 43, 98);
		font-family:Verdana, Geneva, Tahoma, sans-serif;
		font-size: 15px;
	}

	.paul{
		color:black;
		font-size: 1.2rem;
		margin:3rem;
		text-decoration: underline;
		font-family:'Times New Roman', Times, serif;
		
	
		



	}
	.davis{

		padding:2rem;
	}

	a{
		color:rgb(62, 62, 248);
		text-decoration: underline;
		font-size:1rem;
	}
	/* .response{border: 1px dotted peru; */

		/* padding: 20px;
		
		kerning:50px;} */

		/* .sticky{
			font-family:verdana;
			color:lightgrey;
			margin-left:-14em;
			padding-top: 1em;;
			position: sticky;
  			top: 0;
			left:0;
			padding-left: 5px; 	
         	border-radius:50%;
		 	width: 120px;
         	text-align:center;
		 	border: 3px dotted lightgrey;	 
			} */

			footer{
				/* font-weight: bold; */
				/* border-top: solid 2px; */
				/* margin-top : 25rem; */
				margin-bottom: 6rem;
				padding-top: 3rem;
				display:grid;
				
				color:black;
				padding: 3rem;
				margin-left:-3rem;
				margin-right:-3rem;
				
				
			}
			
			.go-top{
				position:fixed;
				bottom:2rem;
				right: 2.5rem;
				font-size:1.3rem;
				background-color: rgb(62, 62, 248);
				color:white;
				border: 1px solid antiquewhite;
				padding:1rem;
				width:2.5rem;
				height:2.5rem;
				display:flex;
				align-items: center;
				justify-content: center;
				
			
			}
			.go-top:hover{
				background-color: white;
				color: rgb(62, 62, 248);


